.container {
  width: 900px;
  margin: auto;
}

.container a {
  background-color: #843284;
  padding: 16px;
  border-radius: 8px;
  color: white;
  display: inline-block;
  text-shadow: none;
  transition: 1s;
}

.container a:hover {
  background-color: #894B89;
}
